.navbar {
    background-color: lightgoldenrodyellow;
}


body {
    background-image: url(./pics/tumblr_pk9oj7x7U71v1hotuo1_540.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 600px){
    header nav{
        float:none;
        width: 100%;
     }
    }

    @media (max-width:600px) {
        img {
            max-width: 100%;
            max-height: 100%;
    
        }
    }

    @media (max-width:768px) {
        img {
            max-width: 100%;
            max-height: 100%;
    
        }
    }
    @media (max-width:900px) {
        img {
            max-width: 100%;
            max-height: 100%;
    
        }
    }

    @media (max-width:1024px) {
        img {
            max-width: 100%;
            max-height: 100%;
    
        }
    }

    @media (max-width:1200px) {
        img {
            max-width: 100%;
            max-height: 100%;
    
        }
    }